{% extends '@woodlets/defaultTemplates/layouts/alternative.twig' %}

{% block layout %}
    {% set themeUrl = woodlets.get_stylesheet_directory_uri() %}

    <div class="header">
        <div class="fixed">
            <a class="header-logo" href="{{ woodlets.get_site_url() }}">
                <img width="178"
                     height="48"
                     src="{{ themeUrl }}/img/logo.jpg"
                     srcset="{{ themeUrl }}/img/logo.png 1x, {{ themeUrl }}/img/logo-2x.png 2x, {{ themeUrl }}/img/logo-3x.png 3x"
                     alt="PraeMedicon"></a>

            {% spaceless %}
                {{
                woodlets.wp_nav_menu({
                    'theme_location': 'header-menu',
                    'container': 'ul',
                    'menu_class': 'clean-list header-menu',
                    'depth': 1
                })
                }}
            {% endspaceless %}
        </div>
    </div>
    <div class="body">
        {{ parent() }}
    </div>
{% endblock %}

{% block script %}
    <script src="{{ woodlets.get_stylesheet_directory_uri() }}/main-build.js" type="text/javascript"></script>
{% endblock %}
